{
  "openapi": "3.0.3",
  "info": {
    "title": "La Tanda API",
    "version": "4.7.0",
    "description": "API completa de La Tanda — Plataforma fintech y social para tandas de ahorro rotativo, marketplace de servicios y productos, sistema de lotería predictiva, y más.\n\n**Base URL:** `https://latanda.online`\n\n**Autenticación:** Bearer JWT token en header `Authorization: Bearer <token>`\n\n**Formato de respuesta:**\n```json\n{\n  \"success\": true,\n  \"data\": { ... },\n  \"message\": \"...\"\n}\n```\n\n**Revocación de tokens:** Los tokens son invalidados al cerrar sesión (`POST /api/auth/logout`) o cambiar contraseña. Un token revocado recibe `401 Token ha sido revocado` en cualquier endpoint protegido.",
    "contact": {
      "name": "INDIGOAZUL Development",
      "url": "https://latanda.online",
      "email": "dev@latanda.online"
    }
  },
  "servers": [
    {
      "url": "https://latanda.online",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Autenticación, registro, verificación de email, reset de contraseña, WebAuthn"
    },
    {
      "name": "User",
      "description": "Perfil de usuario, configuración, 2FA, dispositivos, logros"
    },
    {
      "name": "Wallet",
      "description": "Balance, depósitos, retiros, historial de transacciones, PIN"
    },
    {
      "name": "Groups",
      "description": "Grupos de ahorro, membresías, roles, distribuciones, calendario"
    },
    {
      "name": "Tandas",
      "description": "Tandas de ahorro rotativo, posiciones, pagos, turnos"
    },
    {
      "name": "Contributions",
      "description": "Contribuciones a grupos, comprobantes, verificación"
    },
    {
      "name": "Social Feed",
      "description": "Publicaciones, comentarios, likes, bookmarks, follows, encuestas"
    },
    {
      "name": "Marketplace - Services",
      "description": "Servicios del marketplace, categorías, búsqueda"
    },
    {
      "name": "Marketplace - Products",
      "description": "Productos del marketplace, inventario, órdenes"
    },
    {
      "name": "Marketplace - Providers",
      "description": "Vendedores/proveedores, tiendas, reseñas"
    },
    {
      "name": "Marketplace - Portfolio",
      "description": "Portafolio profesional / CV maker, descarga PDF"
    },
    {
      "name": "Marketplace - Bookings",
      "description": "Reservas de servicios, estados, reviews"
    },
    {
      "name": "Lottery",
      "description": "Lotería predictiva de Honduras, estadísticas, jaladores, predicciones ML"
    },
    {
      "name": "MIA AI",
      "description": "Asistente IA MIA"
    },
    {
      "name": "Notifications",
      "description": "Notificaciones push, preferencias, suscripciones VAPID"
    },
    {
      "name": "Public",
      "description": "Endpoints públicos sin autenticación"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtenido de /api/auth/login. Los tokens son revocados al cerrar sesión o cambiar contraseña; un token revocado retorna 401."
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "example": "Error interno del servidor"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "example": "user_a1b2c3d4e5f6g7h8"
          },
          "name": {
            "type": "string",
            "example": "María López"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "handle": {
            "type": "string",
            "example": "maria-lopez"
          },
          "avatar_url": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ]
          },
          "email_verified": {
            "type": "boolean"
          },
          "verification_level": {
            "type": "string",
            "enum": [
              "basic",
              "verified",
              "premium"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Provider": {
        "type": "object",
        "properties": {
          "provider_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "string"
          },
          "business_name": {
            "type": "string",
            "example": "Mi Negocio HN"
          },
          "description": {
            "type": "string"
          },
          "shop_type": {
            "type": "string",
            "enum": [
              "services",
              "products",
              "mixed"
            ]
          },
          "store_layout": {
            "type": "string",
            "enum": [
              "classic",
              "showcase",
              "compact"
            ]
          },
          "store_theme": {
            "type": "string",
            "enum": [
              "dark",
              "cyan",
              "gold",
              "green",
              "coral",
              "purple"
            ]
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "whatsapp": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string"
          },
          "neighborhood": {
            "type": "string",
            "nullable": true
          },
          "service_areas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "social_links": {
            "type": "object",
            "properties": {
              "github": {
                "type": "string"
              },
              "linkedin": {
                "type": "string"
              },
              "website": {
                "type": "string"
              }
            }
          },
          "is_verified": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "inactive"
            ]
          },
          "avg_rating": {
            "type": "number"
          },
          "total_reviews": {
            "type": "integer"
          },
          "completed_jobs": {
            "type": "integer"
          },
          "response_rate": {
            "type": "integer"
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "service_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "price_type": {
            "type": "string",
            "enum": [
              "fixed",
              "hourly",
              "quote"
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
              "HNL",
              "USD",
              "LTD"
            ]
          },
          "category_id": {
            "type": "integer"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "enum": [
              "HNL",
              "USD",
              "LTD"
            ]
          },
          "quantity": {
            "type": "integer"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "featured": {
            "type": "boolean"
          },
          "display_order": {
            "type": "integer"
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "group_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "max_members": {
            "type": "integer"
          },
          "contribution_amount": {
            "type": "number"
          },
          "frequency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          }
        }
      },
      "Portfolio": {
        "type": "object",
        "properties": {
          "portfolio_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "string"
          },
          "full_name": {
            "type": "string",
            "description": "Siempre resuelto del perfil del usuario (no editable)"
          },
          "professional_title": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "experience": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "company": {
                  "type": "string"
                },
                "position": {
                  "type": "string"
                },
                "start_date": {
                  "type": "string"
                },
                "end_date": {
                  "type": "string",
                  "nullable": true
                },
                "current": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "education": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "institution": {
                  "type": "string"
                },
                "degree": {
                  "type": "string"
                },
                "field": {
                  "type": "string"
                },
                "start_year": {
                  "type": "integer"
                },
                "end_year": {
                  "type": "integer",
                  "nullable": true
                }
              }
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "level": {
                  "type": "string",
                  "enum": [
                    "basico",
                    "intermedio",
                    "avanzado",
                    "experto"
                  ]
                }
              }
            }
          },
          "certifications": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "issuer": {
                  "type": "string"
                },
                "year": {
                  "type": "integer"
                },
                "url": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "language": {
                  "type": "string"
                },
                "level": {
                  "type": "string",
                  "enum": [
                    "basico",
                    "intermedio",
                    "avanzado",
                    "nativo"
                  ]
                }
              }
            }
          },
          "allow_downloads": {
            "type": "boolean"
          },
          "is_public": {
            "type": "boolean"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Deposit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "dep_bank_1708300000000_abc123"
          },
          "user_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["bank_transfer", "crypto", "mobile_payment"],
            "description": "Tipo de depósito"
          },
          "status": {
            "type": "string",
            "enum": ["pending_transfer", "receipt_uploaded", "processing", "confirmed", "failed", "cancelled", "expired"],
            "description": "Estado actual del depósito"
          },
          "amount": {
            "type": "number",
            "example": 500.00
          },
          "net_amount": {
            "type": "number",
            "description": "Monto neto después de comisión",
            "example": 487.50
          },
          "transaction_fee": {
            "type": "number",
            "description": "Comisión cobrada",
            "example": 12.50
          },
          "currency": {
            "type": "string",
            "example": "HNL"
          },
          "reference_number": {
            "type": "string",
            "nullable": true
          },
          "bank_name": {
            "type": "string",
            "nullable": true,
            "description": "Solo para tipo bank_transfer"
          },
          "crypto_currency": {
            "type": "string",
            "nullable": true,
            "description": "Solo para tipo crypto"
          },
          "deposit_address": {
            "type": "string",
            "nullable": true,
            "description": "Dirección crypto generada"
          },
          "carrier": {
            "type": "string",
            "nullable": true,
            "description": "Solo para tipo mobile_payment"
          },
          "instructions": {
            "type": "object",
            "nullable": true,
            "description": "Instrucciones para completar el depósito"
          },
          "receipt": {
            "type": "object",
            "nullable": true,
            "description": "Datos del comprobante subido"
          },
          "status_history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "extension_count": {
            "type": "integer",
            "example": 0
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "parameters": {
      "limitParam": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 20,
          "maximum": 100
        },
        "description": "Máximo de resultados"
      },
      "offsetParam": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 0
        },
        "description": "Desplazamiento para paginación"
      },
      "searchParam": {
        "name": "search",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Término de búsqueda"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token JWT faltante, inválido o revocado. Posibles mensajes: `No token provided`, `Invalid or expired token`, `Token ha sido revocado`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missing": {
                "summary": "Token no proporcionado",
                "value": {
                  "success": false,
                  "data": {
                    "error": {
                      "code": 401,
                      "message": "No token provided"
                    }
                  }
                }
              },
              "expired": {
                "summary": "Token expirado o inválido",
                "value": {
                  "success": false,
                  "data": {
                    "error": {
                      "code": 401,
                      "message": "Invalid or expired token"
                    }
                  }
                }
              },
              "revoked": {
                "summary": "Token revocado (logout o cambio de contraseña)",
                "value": {
                  "success": false,
                  "data": {
                    "error": {
                      "code": 401,
                      "message": "Token ha sido revocado"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Permisos insuficientes",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Recurso no encontrado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServerError": {
        "description": "Error interno del servidor",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Health check del servidor",
        "responses": {
          "200": {
            "description": "Servidor funcionando",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/stats": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Estadísticas públicas de la plataforma",
        "responses": {
          "200": {
            "description": "Estadísticas generales (usuarios, grupos, transacciones)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/products": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Productos destacados para preview público",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de productos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/info": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Información general de la plataforma",
        "responses": {
          "200": {
            "description": "Info de La Tanda",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/lottery/recent": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Resultados recientes de lotería",
        "responses": {
          "200": {
            "description": "Últimos resultados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Iniciar sesión",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login exitoso — retorna JWT token y datos del usuario",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Registrar nuevo usuario",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "password"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "phone": {
                    "type": "string"
                  },
                  "referralCode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Usuario creado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "409": {
            "description": "Email ya registrado"
          }
        }
      }
    },
    "/api/auth/check-duplicates": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verificar si email ya existe",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado de verificación"
          }
        }
      }
    },
    "/api/auth/send-verification": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Enviar email de verificación",
        "responses": {
          "200": {
            "description": "Email enviado"
          }
        }
      }
    },
    "/api/auth/verify-email": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verificar email con token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verificado"
          }
        }
      }
    },
    "/api/auth/request-reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Solicitar reset de contraseña",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email de reset enviado"
          }
        }
      }
    },
    "/api/auth/verify-reset-token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verificar token de reset",
        "responses": {
          "200": {
            "description": "Token válido"
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Resetear contraseña con token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contraseña actualizada"
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refrescar JWT token",
        "responses": {
          "200": {
            "description": "Nuevo token generado"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Cerrar sesión",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sesión cerrada"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/profile": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Obtener perfil del usuario autenticado",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Datos del perfil",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Actualizar perfil del usuario",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "bio": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perfil actualizado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/avatar": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Subir avatar del usuario",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Avatar actualizado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/settings": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Obtener configuración del usuario",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Configuración actual"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Actualizar configuración",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Configuración actualizada"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/change-password": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Cambiar contraseña",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentPassword",
                  "newPassword"
                ],
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contraseña cambiada"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/activity": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Obtener actividad reciente del usuario",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de actividades"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/achievements": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Obtener logros del usuario",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de logros"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/devices": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Listar dispositivos conectados",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de dispositivos"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/2fa/setup": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Configurar autenticación 2FA",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "QR code y secreto para configurar TOTP"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/2fa/verify": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Verificar código 2FA",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "2FA activado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/2fa/disable": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Desactivar 2FA",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "2FA desactivado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/user/2fa/status": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Estado de 2FA",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Estado actual de 2FA"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/wallet/balance": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Obtener balance de la billetera",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Balance actual en HNL, USD, LTD tokens"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/wallet/balance-history": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Historial de balance",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Historial de movimientos"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/wallet/withdrawals": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Solicitar retiro",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "type"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "bank",
                      "mobile",
                      "crypto"
                    ]
                  },
                  "address": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retiro solicitado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/wallet/pin/set": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Establecer PIN de seguridad",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "PIN establecido"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/wallet/pin/status": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Estado del PIN",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "PIN activo/inactivo"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/wallet/pin/verify": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Verificar PIN",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "PIN válido"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/wallet/deposit/bank-transfer": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Crear depósito por transferencia bancaria",
        "description": "Crea un depósito pendiente de transferencia bancaria. El usuario debe transferir a la cuenta receptora y luego subir el comprobante.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "bank_code"],
                "properties": {
                  "amount": {
                    "type": "number",
                    "minimum": 1,
                    "example": 500.00,
                    "description": "Monto a depositar en HNL"
                  },
                  "bank_code": {
                    "type": "string",
                    "example": "BAC",
                    "description": "Código del banco emisor"
                  },
                  "reference_number": {
                    "type": "string",
                    "example": "REF-2026-001",
                    "description": "Número de referencia de la transferencia (opcional)"
                  },
                  "user_account_number": {
                    "type": "string",
                    "description": "Número de cuenta del usuario (opcional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Depósito creado, pendiente de confirmación",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Deposit"
                    },
                    "message": {
                      "type": "string",
                      "example": "Depósito creado exitosamente"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Monto inválido o datos faltantes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/wallet/deposit/mobile": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Crear depósito móvil (Tigo Money)",
        "description": "Crea un depósito vía pago móvil (Tigo Money). Genera un código SMS para verificación.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "phone_number", "carrier"],
                "properties": {
                  "amount": {
                    "type": "number",
                    "minimum": 1,
                    "example": 200.00,
                    "description": "Monto a depositar en HNL"
                  },
                  "phone_number": {
                    "type": "string",
                    "example": "+50499887766",
                    "description": "Número de teléfono del usuario"
                  },
                  "carrier": {
                    "type": "string",
                    "example": "tigo",
                    "description": "Operador móvil"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Depósito móvil creado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Deposit"
                    },
                    "message": {
                      "type": "string",
                      "example": "Depósito móvil creado exitosamente"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Monto o datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/wallet/deposit/crypto": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Crear depósito crypto",
        "description": "Crea un depósito de criptomoneda. Genera una dirección de depósito y código QR para el usuario.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "crypto_currency"],
                "properties": {
                  "amount": {
                    "type": "number",
                    "minimum": 1,
                    "example": 100.00,
                    "description": "Monto equivalente en HNL"
                  },
                  "crypto_currency": {
                    "type": "string",
                    "enum": ["BTC", "ETH", "USDT"],
                    "example": "USDT",
                    "description": "Criptomoneda para el depósito"
                  },
                  "network": {
                    "type": "string",
                    "example": "ethereum",
                    "description": "Red blockchain (opcional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dirección de depósito generada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Deposit"
                    },
                    "message": {
                      "type": "string",
                      "example": "Depósito crypto creado exitosamente"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/deposit/upload-receipt": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Subir comprobante de depósito",
        "description": "Sube un comprobante (imagen) para un depósito pendiente. Actualiza el estado a `receipt_uploaded`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["deposit_id", "receipt"],
                "properties": {
                  "deposit_id": {
                    "type": "string",
                    "description": "ID del depósito"
                  },
                  "receipt": {
                    "type": "string",
                    "format": "binary",
                    "description": "Imagen del comprobante (JPEG, PNG)"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notas adicionales sobre el comprobante"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comprobante subido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Depósito no encontrado o archivo inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/deposit/track/{depositId}": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Rastrear estado de depósito",
        "description": "Obtiene el estado actual y detalles de un depósito. Solo el dueño del depósito puede consultarlo.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "depositId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID del depósito a rastrear"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalles del depósito",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Deposit"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/deposit/update-status": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Actualizar estado de depósito (admin)",
        "description": "Actualiza el estado de un depósito. Si el nuevo estado es `confirmed`, acredita el monto al wallet del usuario de forma transaccional. Requiere rol admin.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["deposit_id", "new_status"],
                "properties": {
                  "deposit_id": {
                    "type": "string",
                    "description": "ID del depósito"
                  },
                  "new_status": {
                    "type": "string",
                    "enum": ["processing", "confirmed", "failed", "expired"],
                    "description": "Nuevo estado del depósito"
                  },
                  "admin_notes": {
                    "type": "string",
                    "description": "Notas del administrador"
                  },
                  "received_amount": {
                    "type": "number",
                    "description": "Monto recibido (si difiere del solicitado)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estado actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Transición de estado inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/deposit/cancel": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Cancelar depósito",
        "description": "Cancela un depósito pendiente del usuario autenticado. Solo depósitos en estado `pending_transfer` pueden cancelarse.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["deposit_id"],
                "properties": {
                  "deposit_id": {
                    "type": "string",
                    "description": "ID del depósito a cancelar"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Razón de la cancelación (opcional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Depósito cancelado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "El depósito no puede ser cancelado en su estado actual",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/deposit/modify": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Modificar depósito pendiente",
        "description": "Modifica el monto o referencia de un depósito pendiente. Solo depósitos en estado `pending_transfer` pueden modificarse. Historial de modificaciones se registra.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["deposit_id"],
                "properties": {
                  "deposit_id": {
                    "type": "string",
                    "description": "ID del depósito"
                  },
                  "amount": {
                    "type": "number",
                    "minimum": 1,
                    "description": "Nuevo monto del depósito"
                  },
                  "reference_number": {
                    "type": "string",
                    "description": "Nuevo número de referencia"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Depósito modificado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "El depósito no puede ser modificado o datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/deposit/extend": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Extender tiempo de depósito",
        "description": "Extiende el plazo de expiración de un depósito pendiente. Máximo 3 extensiones permitidas. Historial de extensiones se registra.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["deposit_id"],
                "properties": {
                  "deposit_id": {
                    "type": "string",
                    "description": "ID del depósito"
                  },
                  "extension_hours": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 72,
                    "example": 24,
                    "description": "Horas adicionales (default: 24)"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Razón de la extensión (opcional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plazo extendido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Límite de extensiones alcanzado o estado inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/deposits/pending": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Listar depósitos pendientes (admin)",
        "description": "Lista todos los depósitos con estado `pending_transfer` o `processing`. Requiere rol admin.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de depósitos pendientes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deposits": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Deposit"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "example": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/deposits/confirm": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Confirmar depósito (admin)",
        "description": "Confirma un depósito y acredita el monto neto al wallet del usuario. Operación transaccional: actualiza depósito + acredita wallet + registra transacción. Requiere rol admin.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["deposit_id"],
                "properties": {
                  "deposit_id": {
                    "type": "string",
                    "description": "ID del depósito a confirmar"
                  },
                  "admin_notes": {
                    "type": "string",
                    "description": "Notas del administrador"
                  },
                  "received_amount": {
                    "type": "number",
                    "description": "Monto realmente recibido (si difiere del original)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Depósito confirmado y wallet acreditado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Depósito confirmado y wallet acreditado"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Depósito no encontrado o no es confirmable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/deposits/reject": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Rechazar depósito (admin)",
        "description": "Rechaza un depósito pendiente con razón. Requiere rol admin.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["deposit_id", "rejection_reason"],
                "properties": {
                  "deposit_id": {
                    "type": "string",
                    "description": "ID del depósito a rechazar"
                  },
                  "rejection_reason": {
                    "type": "string",
                    "description": "Razón del rechazo"
                  },
                  "admin_notes": {
                    "type": "string",
                    "description": "Notas adicionales del administrador"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Depósito rechazado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Depósito no encontrado o no puede ser rechazado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/wallet/withdraw/bank": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Retiro a cuenta bancaria",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Retiro bancario solicitado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/wallet/withdraw/mobile": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Retiro a billetera móvil",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Retiro móvil solicitado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/wallet/withdraw/crypto": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Retiro a dirección crypto",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Retiro crypto solicitado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/wallet/withdraw/fees": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Consultar comisiones de retiro",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tabla de comisiones por método"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/payments/history": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Historial de pagos",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de pagos"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/payments/methods/available": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Métodos de pago disponibles",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de métodos"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Listar grupos",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de grupos"
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Crear nuevo grupo de ahorro",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "contribution_amount",
                  "frequency"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "contribution_amount": {
                    "type": "number"
                  },
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "weekly",
                      "biweekly",
                      "monthly"
                    ]
                  },
                  "max_members": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Grupo creado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/groups/{groupId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Obtener detalle de un grupo",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datos del grupo"
          }
        }
      }
    },
    "/api/groups/{groupId}/join": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Unirse a un grupo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unido exitosamente"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/groups/{groupId}/members": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Listar miembros del grupo",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de miembros"
          }
        }
      }
    },
    "/api/groups/{groupId}/calendar": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Calendario del grupo",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calendario de pagos y turnos"
          }
        }
      }
    },
    "/api/groups/{groupId}/contributions": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Contribuciones del grupo",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de contribuciones"
          }
        }
      }
    },
    "/api/groups/{groupId}/stats": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Estadísticas del grupo",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stats del grupo"
          }
        }
      }
    },
    "/api/groups/{groupId}/payout/request": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Solicitar payout del grupo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout solicitado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/groups/{groupId}/payout/status": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Estado de payout",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estado actual del payout"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/tandas": {
      "get": {
        "tags": [
          "Tandas"
        ],
        "summary": "Listar tandas disponibles",
        "responses": {
          "200": {
            "description": "Lista de tandas"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/tandas/create": {
      "post": {
        "tags": [
          "Tandas"
        ],
        "summary": "Crear nueva tanda de ahorro rotativo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Tanda creada"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/tandas/my-tandas": {
      "get": {
        "tags": [
          "Tandas"
        ],
        "summary": "Mis tandas",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tandas del usuario"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/tandas/pay": {
      "post": {
        "tags": [
          "Tandas"
        ],
        "summary": "Realizar pago de tanda",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Pago registrado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/tandas/available-positions": {
      "get": {
        "tags": [
          "Tandas"
        ],
        "summary": "Posiciones disponibles",
        "responses": {
          "200": {
            "description": "Lista de posiciones"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/contributions": {
      "get": {
        "tags": [
          "Contributions"
        ],
        "summary": "Listar contribuciones del usuario",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de contribuciones"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contributions"
        ],
        "summary": "Hacer una contribución",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Contribución registrada"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/feed/social": {
      "get": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Obtener feed social",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "name": "tab",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "following",
                "trending"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de publicaciones"
          }
        }
      },
      "post": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Crear publicación",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "media_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "is_anonymous": {
                    "type": "boolean"
                  },
                  "poll_options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Publicación creada"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/feed/social/{postId}": {
      "put": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Editar publicación",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Publicación editada"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Eliminar publicación",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Publicación eliminada"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/feed/social/{postId}/like": {
      "post": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Dar/quitar like a publicación",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Like toggled"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/feed/social/{postId}/bookmark": {
      "post": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Guardar/quitar bookmark",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bookmark toggled"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/feed/social/{postId}/comments": {
      "get": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Obtener comentarios de publicación",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de comentarios"
          }
        }
      },
      "post": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Agregar comentario",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comentario creado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/feed/social/follow/{userId}": {
      "post": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Seguir usuario",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Siguiendo"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Dejar de seguir",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dejó de seguir"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/feed/social/bookmarks": {
      "get": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Mis bookmarks",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Publicaciones guardadas"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/feed/social/trending": {
      "get": {
        "tags": [
          "Social Feed"
        ],
        "summary": "Publicaciones trending",
        "responses": {
          "200": {
            "description": "Top publicaciones"
          }
        }
      }
    },
    "/api/marketplace/categories": {
      "get": {
        "tags": [
          "Marketplace - Services"
        ],
        "summary": "Listar categorías del marketplace",
        "responses": {
          "200": {
            "description": "Lista de categorías con iconos y nombres en español"
          }
        }
      }
    },
    "/api/marketplace/services": {
      "get": {
        "tags": [
          "Marketplace - Services"
        ],
        "summary": "Listar servicios",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada de servicios",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "services": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Service"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Marketplace - Services"
        ],
        "summary": "Crear servicio",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "description",
                  "price",
                  "category_id"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "price": {
                    "type": "number"
                  },
                  "price_type": {
                    "type": "string",
                    "enum": [
                      "fixed",
                      "hourly",
                      "quote"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "HNL",
                      "USD",
                      "LTD"
                    ],
                    "default": "HNL"
                  },
                  "category_id": {
                    "type": "integer"
                  },
                  "duration_hours": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Servicio creado"
          },
          "403": {
            "description": "Tu tienda no permite servicios (tipo Productos)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/marketplace/services/{serviceId}": {
      "get": {
        "tags": [
          "Marketplace - Services"
        ],
        "summary": "Detalle de un servicio",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datos del servicio"
          }
        }
      },
      "patch": {
        "tags": [
          "Marketplace - Services"
        ],
        "summary": "Actualizar featured/display_order de servicio",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "featured": {
                    "type": "boolean"
                  },
                  "display_order": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Servicio actualizado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/marketplace/services/upload-images": {
      "post": {
        "tags": [
          "Marketplace - Services"
        ],
        "summary": "Subir imágenes para servicio",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URLs de imágenes subidas"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/marketplace/products": {
      "get": {
        "tags": [
          "Marketplace - Products"
        ],
        "summary": "Listar productos",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "name": "sellerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de productos"
          }
        }
      },
      "post": {
        "tags": [
          "Marketplace - Products"
        ],
        "summary": "Crear producto",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "price",
                  "quantity"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "HNL",
                      "USD",
                      "LTD"
                    ]
                  },
                  "quantity": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Producto creado"
          },
          "403": {
            "description": "Tu tienda no permite productos (tipo Servicios)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/marketplace/products/{productId}": {
      "get": {
        "tags": [
          "Marketplace - Products"
        ],
        "summary": "Detalle de producto",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datos del producto"
          }
        }
      },
      "put": {
        "tags": [
          "Marketplace - Products"
        ],
        "summary": "Actualizar producto",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Producto actualizado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "Marketplace - Products"
        ],
        "summary": "Actualizar featured/display_order de producto",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Producto actualizado"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Marketplace - Products"
        ],
        "summary": "Eliminar producto",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
[...]
